<!DOCTYPE html>
<html lang="en">
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
 <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiVEr0yWe_5B7MCoDp0hpHphROJ_DinmE&signed_in=true&libraries=visualization&callback=initMap">
    </script>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Where to Squat</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Address:<br>
                </li>

                <li>
                    <div id="form">
                      <form method = "POST">
                       <textarea name = "address" value = myaddress rows="2" cols="40"  style="width: 200px; float: center;"></textarea><br>
                          <span class="right" style="width: 278px; float: right; text-align:center;"><input type="submit" value = "Enter" display:inline-block; /></span>
                      </form>
                    </div>
                   
                </li>
              
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Where to Squat</h1>
                        <p>This web application assists those in need of emergency housing without access to shelter to find vacant buildings nearby with a low rate of crime, as seen by the heat map.</p>
                        
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                        <br><br>
                        <div id="googleMap" style="width:500px;height:380px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
<script>
/* Data points defined as an array of LatLng objects */

function initMap() {
    var heatmapData = [];
    var crimeslat = {{crimelat|safe}};
    var crimeslong = {{crimelong|safe}};
    var crimeheat={{crimeheat|safe}};
    var myslat={{mylat|safe}};
    var myslng={{mylng|safe}};
    var slatvac={{latvac|safe}};
    var slngvac={{lngvac|safe}};

    var i;
    var len = crimeslat.length;
    for (i=0; i<len;i++){
        temp = -1*crimeslong[i];
        var latLng = new google.maps.LatLng(crimeslat[i], temp);
        var weightedLoc = {
            location:latLng,
            weight: crimeheat[i]
        };
        heatmapData.push(weightedLoc);
    }

    // var geocoder = new google.maps.Geocoder();
    // var mainaddress = geocodeAddress(geocoder,myaddress)
    var mainaddress = new google.maps.LatLng(myslat, myslng);


    map = new google.maps.Map(document.getElementById("googleMap"), {
    zoom: 15,
    center: mainaddress,
        mapTypeId: google.maps.MapTypeId.SATELLITE
     });

    var heatmap = new google.maps.visualization.HeatmapLayer({
    data: heatmapData,
    map: map
    });
    heatmap.setMap(map);

    // var outputi = ""; 
    // var k;
    // var vack = slatvac.length;
    // for (k=0;k<vack,k++) {
    //     tempi = -1*slngvac[k];
    //     var vlatlng = new google.maps.LatLng(slatvac[k],tempi);
    //     // outputi += "<li>" + vlatlng + "</li>";
    //     new google.maps.Marker({
    //         position: vlatlng,
    //         map: map
    //     });
    // }   
    
    // document.write(outputi);
    var marker = new google.maps.Marker({
    position: mainaddress,
    map: map
    });
    }


google.maps.event.addDomListener(window, 'load', initMap);
</script>

</body>

</html>
