<!DOCTYPE html>
<html>
<head>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiVEr0yWe_5B7MCoDp0hpHphROJ_DinmE&signed_in=true&libraries=visualization&callback=initMap">
    </script>

<script>
/* Data points defined as an array of LatLng objects */

function initMap() {
	var heatmapData = [];

	var obj = JSON.parse(tojsoncrime);

	var len = obj.ListOfCrimes.length;
	var i;
	for (i=0, i<len;i++){
		heatmapData[i] = new google.maps.LatLng(obj.ListOfCrimes[i].lat, obj.ListOfCrimes[i].lng), weight: ListOfCrimes[i].weight;
	}

	var baltimore = new google.maps.LatLng(39.2833, -76.6167);


	map = new google.maps.Map(document.getElementById("googleMap"), {
		zoom: 13,
		center: baltimore,
		mapTypeId: google.maps.MapTypeId.SATELLITE
	});

	heatmap = new google.maps.visualization.HeatmapLayer({
		data: heatmapData,
		map: map
	});
	heatmap.setMap(map);
	}
google.maps.event.addDomListener(window, 'load', initMap);
</script>
</head>

<body>
<div id="googleMap" style="width:500px;height:380px;"></div>

</body>
</html>